### Maven ###
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Operating System ###
.DS_Store
Thumbs.db

### Git ###
.git/
.gitignore

### Docker ###
Dockerfile
.dockerignore

### Tests ###
src/test/
 
### Documentation ###
README.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/